$white:#ffffff;
$dark-orange:#1A140E;
$dark:#000000;
$vintage:#D9D9D9;
$red:linear-gradient(90deg, #FB2F2F 2.61%, #D02020 102.44%);
$green:linear-gradient(90deg, #11962F, #11962F 100%);
$blue:linear-gradient(90deg, #1274AB, #1A6AC7 100%);